* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
 
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  overflow-x: hidden;
 
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 1.2rem;
}

::-webkit-scrollbar-track {
  background: #000000;
 
}

::-webkit-scrollbar-thumb {
  background: rgba(221, 33, 33, 0.637);
 
}

::selection {
  color: rgba(63, 61, 61, 0.599);
  background: rgba(220, 220, 220, 0.695);
}

::-moz-selection {
  color: rgba(63, 61, 61, 0.599);
  background: rgba(220, 220, 220, 0.695);
}


#preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(36, 42, 50);
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  z-index: 1000;
}

#preloader>img {
  width: 20%;
}

.bg--video {
  z-index: -1;

  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
}